* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(230, 230, 230);
}

:root {
    scroll-behavior: smooth;
    --color-clear: rgb(255, 255, 255);
    --color-dark: rgba(0, 0, 0, 0.74);
    --bg-header: #181818e6;
    --text: rgb(231, 231, 231);
}

.btn {
    text-decoration: none;
    margin: 0px 16px;
    text-shadow: 0.2px 0.2px 0.2px;
    cursor: pointer;
    color: var(--color-clear);
    font-family: sans-serif;
    font-size: 14px;
}

.btn:hover {
    font-size: 15.4px;
    color: rgb(187, 185, 182);
    transition: 0.2s;
}

.head {
    width: 100%;
    height: 90px;
    background-color: var(--bg-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    transition: height 0.5s, background 0.5s;
    z-index: 2;
}

.logo {
    align-items: center;
    flex-direction: column;
    display: flex;
    font-family: arial;
    color: var(--color-clear);
    margin-left: 1rem;
    cursor: pointer;
}

.container-img {
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.img-logo {
    width: 100%;
    top: 0;
}

.text {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: absolute;
    align-items: center;
}

.text h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text);
    margin: 30px;
    font-size: 30px;
}

.text p {
    display: flex;
    font-size: 18px;
    width: 600px;
    line-height: 20px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text);
}

.see-btn {
    background: #3f0aff;
    width: 280px;
    height: 35px;
    color: white;
    border: none;
    box-shadow: 2px 2px 5px black;
    border-radius: 28px;
    outline: none;
    position: absolute;
    top: 280px;
}

.see-btn:hover {
    background-color: #3001ff;
    transition: 0.2s;
    cursor: pointer;
}

.see-btn:active {
    background-color: #4f28ff;
    transition: 0.2s;
}

.cards-curiosities {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 50px auto;
    width: 1200px;
    position: relative;
    gap: 40px;
}

.container-img {
    position: relative;
}

.cards-img {
    width: 100%;
}